@font-face{
	font-family: "Helvetica_Neue";
	src: 
		url(fonts/Helvetica_Neue/helveticaneue-light-webfont.woff") format("woff");
}

body{
	background-color: lightcyan;
    color: black;

/*	text-align: center;*/
	font-family: "Helvetica_Neue", serif;
	font-weight: normal;
}


