@font-face{
	font-family: "Helvetica_Neue";
	src: 
		url("css/fonts/Helvetica_Neue/helveticaneue-light-webfont.woff") format("woff");
	}
body{
	background-color: #fffad9;
	text-align: center;
	font-family: "Helvetica_Neue", serif;
	font-weight: normal;
}
h1{	
	font-size: 54px;
	font-style: bold;
}
h2{
	text-align: left;
}
#message{
	font-size: 32px;
}
#about{
	text-align: left;
	font-size:14px;
}
