@font-face{
	font-family: "Helvetica_Neue";
	src: 
		url("css/fonts/Helvetica_Neue/helveticaneue-light-webfont.woff") format("woff");
	}
body{
	background-color: #275c75;


/*	text-align: center;*/
	font-family: "Helvetica_Neue", serif;
	font-weight: normal;
}
h1{	
	text-align: center;
	font-size: 54px;
	font-style: bold;
}
.about-container{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.portfolio-container{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
h2{
	margin: 20px auto;
}
#message{
	text-align: center;
	font-size: 32px;
}
#about{
	margin: 0 auto;
	/*text-align: center;*/
	font-size:14px;
}

img{
	/*text-align: center;*/
	max-height: 200px;
	width: auto;
	margin: auto;
}