@font-face{
	font-family: "Helvetica_Neue";
	src: 
		url("css/fonts/Helvetica_Neue/helveticaneue-light-webfont.woff") format("woff");
	}
body{
	background-color: lightcyan;
    color: black;

/*	text-align: center;*/
	font-family: "Helvetica_Neue", serif;
	font-weight: normal;
}
.main-container{
    background-color: #f5e2a8;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding: 25px;
}
.introduction{
    background-color: #f1f3f2;
    text-align: center;
	font-size: 30px;
	font-style: bold;
}
.about-container{
    background-color:#f1f3f2;
}
.poetry{
    background-color: #f1f3f2;
}